
/* .header{
    background: url(../images/header_view.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
} */


.customClassForText{
    font-family: 'Yomogi', cursive;
}

.header_bar{
    height: 84px;
    
    background-color: #212529;
}
.navbar{
    margin: 0 3.5rem;
}

.navbar-expand-lg .navbar-nav{
    font-family: 'Yomogi', cursive;
    padding-top: 7px;
    font-size: 20px;
    margin-left: 40px;
}
.nav-link{
    color: #fff !important;
    font-weight: 700;
}

.header_logo{
    font-size: 40px;
    text-decoration: none;
    color: #e44b1e;
    font-family: 'Yomogi', cursive;
}

.header_sign_btn{
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 0;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    width: 91px;
}

.header_sign_btn:hover{
    color: #fff;
}

#navbarColor01{
    line-height: 0;
    font-size: 20px;
}
.header_sign_btn.for_home{
    padding: 10px 0;
    height: 40px;
    margin-top: 10px;
}
.user_profile_image{
    margin-right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.topbar-user_container{
    margin-top: 20px;
    margin-right: 5px;
}
.topbar-user_name{
    line-height: 0;
    text-decoration: none;
    font-family: 'Yomogi', cursive;
    font-size: 20px;
    color: #fff;
}
.topbar-user_name p:first-child{
    margin-bottom: 20px;
}
/* reg start */

.reg_content{
    margin-top: calc(100% - 90%) !important;
}


.reg_form input[name="profile_image"]{
    width: 75%;
    margin-top: 1rem;
    border: none;
}

.reg_form input{
    border-color: transparent;
    border-bottom: 1px solid rgb(70, 70, 70);
    outline:none;
    /* font-family: 'Yomogi', cursive; */
}

.reg_form input[name="submit"]:hover{
    background-color: rgb(70, 70, 70);
    color: white;
}


.register_text{
    background-image: url(../images/header_view.jpg);
    object-fit: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    font-size: 24px;
    font-family: 'Yomogi', cursive;
    color: rgb(70, 70, 70);
}

.register_text p {
    margin-top: calc(100% - 81%);
}

.reg_title{
    font-size: 30px;
    text-align: left;
    margin: 0 auto;
    width: 75%;
    font-family: 'Yomogi', cursive;
    color: rgb(70, 70, 70);
}

footer{
    height: 100px;
    width: 100%;
    background-color: rgb(70, 70, 70);
    /* margin-top: calc(100vh - 37.08%); */
}

/* reg end */

.log_content{
    margin-top: calc(100% - 85%) !important;
    align-items: center;
}

.login_text p{
    margin-top: calc(100% - 91%);
    color: #fff;
    font-weight: 900;
}
.login_text h3{
    color: #fff;
    font-weight: 900;
    margin-bottom: 10%;
}
.login_text{
    background-image: url(../images/login_view.jpg);
    background-position: left;
}

/* user profile start */

.profile-container{
    margin-top: 100px;

}
.nav_forProfile{
    background-color: #212529;
    height: 280px;
    font-family: 'Yomogi', cursive;
}
.nav-block.forProfile{
    padding-left: 1rem;
}
.nav-block.forProfile li{
    list-style-type: none;
    font-size: 20px;
}

.card_size {
    white-space: nowrap;
    overflow: hidden; 
    padding: 5px; 
    text-overflow: ellipsis; 
}
.card.forProfile{
    width: 100% !important;
}

/* user profile end */


/* user update start */

.updatePage-container{
    margin-top: 100px
}

.reg_form.for_update{
    width: 75%;
    margin: 0 auto;
}
.user_update_textarea{
    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #212529;
    
}
.submit_for_updateForm{
    margin-left: calc((100% - 75%) / 2);
}

.update-col-2{
    background-image: url(../images/quote_background/quote_view.jpeg);
    background-position: bottom;
    font-size: 24px;
    font-family: 'Yomogi', cursive;
    color: #fff;
    text-align: center;
}
.update-col-2 p{
    margin-top: calc(100% - 70%);
}

/* user update end */

/* news start */
.news_title{
    
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.news_image{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.news_text{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 0;
}
.news_author{
    font-style: italic;
    font-size: 16px;
}
/* news end */



/* news add start */
.reg_form.for_update.for_news input[name=image]{
    border: none;
    margin-top: 10px;
}
.update-col-2.forNews p{
    margin-top: calc(100% - 80%)
}
/* news add end */